venv/
env/
.env
__pycache__/
db.sqlite3
*.png
*.jpeg
*.jpg
migrations/
00*
static/
staticfiles/
username.py
dumps.py
python_script.py
db.sqlite3.csv
models/migrations/
**/migrations/*
*.log
*.csv
*.json